body
{
    margin: 0px;
    padding: 0px;
   background-image: url("Vegitable.jpg");
   background-position: center;
}

.sign
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    /* width: 80px;
    height: 30px; */
    text-align: center;
    /* border-radius: 50px; */
    margin: auto;
    color: rgb(255, 255, 255);
    

}
.user
{
    /* font-family: serif ; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pass
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapeer
{
    border: solid white;
    border-width: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 170px;
    margin-left: 600px;
    background-image: url("nature.jpg");
   background-position: center;
   background-color: rgb(218, 62, 67);
    
}
button
{
    padding: 0;
    margin: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    
}
h3
{
    width: 200px;
    height: 5px;
    border-radius: 10px;
}
.fpass
{
    color: rgb(255, 242, 0);
    text-decoration: solid ;
}
.regi{
    color: whitesmoke;
}
.navbarbg
{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 22px;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    /* transform: rotate(45deg); */
}

.navbar
{
font-size: 35px;
border: solid red;
width: 175px;
margin: 10px;
border-radius: 46px;
border-left: 67px;

}





